.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.choice-holder{
  width: 80px;
  height: 20px;
  border: 1px solid black;
}
.ul-container{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(100 1fr);
  list-style-type: none;
}
.li-container{
  padding: 10px;
  border: 1px solid black;
}
.url-image{
  max-width: 100%;
  height: auto;
}